<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="env" value="http://localhost:3000"/>
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="listeners.Listener" />
    </listeners>
    <suite-files>
        <suite-file path="src/test/resources/suites/Book-Sprint-1.xml"/>
        <suite-file path="src/test/resources/suites/HouseHold-Sprint-2.xml"/>
        <suite-file path="src/test/resources/suites/User-Sprint-3.xml"/>
        <suite-file path="src/test/resources/suites/WishList-Sprint-4.xml"/>
        <suite-file path="src/test/resources/suites/ExternalData-Sprint-5.xml"/>
    </suite-files>
</suite>